{% extends 'pages/base.html' %}

{% block content %}


<h3>～海と大陸の恵みがたくさん～</h3>


	{% for item in items %}

		<div class="card" style="margin-bottom: 10px; margin-left: 20px; float: left; width: 23%;">
		  <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
		  <div class="card-body">
		    <h3 class="card-title">{{ item.name }}</h5>
		    <p class="card-text">{{ item.description }}</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		</div>

	{% endfor %}



{% endblock content %}
