{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>
		{% if title %}
			人結 - {{ title }}
		{% else %}
			～人結で会いましょう～
		{% endif %}
	</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/pages.css' %}">

</head>
<body>
	<div class="topnav">
		<a class="active" href="{% url 'home' %}">ホーム</a>
		<a class="active" href="{% url 'greeting' %}">挨拶</a>
		<a class="active" href="{% url 'menu' %}">メニュ</a>
		<a class="active" href="{% url 'courses' %}">コース</a>
	</div>
	
	{% block content %}
	This is a replacement.
	{% endblock %}

</body>
</html>